/* Fonts (Inter 400/500/600/900, Roboto Mono 400/500) */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&family=Roboto+Mono:wght@400;500&display=swap");
/*
CSS rules to specify families:
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto Mono', monospace;
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.primaryFill');
  color: white;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

input {
  padding-left: 16px;
}

.divide {
  border-bottom-width: 1px;
  border-color: theme('colors.borderFill');
}